@model List<Schuh>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Das sind meine Schuhe</h1>

<table>
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
</table>