@model List<Schuh>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Neuen Schuh erstellen</h1>

<table>
    <thead>
    <tr>
        <td>Bezeichnung</td>
        <td>Eingabe</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Bezeichnung</td>
        <td><input type="text" id="Bezeichnung" name="Bezeichnung"></td>
    </tr>
    <tr>
        <td>Bezeichnung</td>
        <td><input type="text" id="groesse" name="Groesse"></td>
    </tr>
    <tr>
        <td>Bezeichnung</td>
        <td><input type="number" id="preis" name="Preis"></td>
    </tr>
    <tr>
        <td>Bezeichnung</td>
        <td><input type="text" id="modell_id" name="Modell_ID"></td>
    </tr>
    </tbody>
</table>

